body {
    padding: 100px 0 100px 0;
    font-family: "Space Grotesk", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.logo {
    height: 36px;
    width: 220px;
}
.navbar {
    display: flex;
    align-items: center;
    gap: 40px;
}
.link {
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    
}
.link__button {
    border: 1px solid black;
    border-radius: 14px;
    padding: 20px 35px;
}
.section1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

}
.section1__article1 {
    width: 531px;
    height: 481px;
}
.section1__image {
    width: 600px;
    height: 515px;
}
.section1__h1 {
    font-size: 60px;
    font-weight: 400;
}
.section1__p {
    font-size: 20px;
    line-height: 28px;
}
.section1__button {
    background-color: #191A23;
    padding: 20px 35px;
    border-radius: 14px;
    color: white;
    font-size: 20px;
}
.section1__button:hover {
    opacity: .8;
    cursor: pointer;
}
.section2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}
.section2__image {
    height: 48px;
    filter: grayscale(100%);
}
.section3 {
    margin-bottom: 70px;
}
.section3-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}
.section3-header__h2 {
    font-size: 30px;
    font-weight: 500;
    background-color: #b9ff66;
    border: 1px solid #b9ff66;
    border-radius: 7px;
    padding: 2px 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.section3-header__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 46px;
}
.section3-header__p {
    font-size: 18px;
}
.section3__card {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 210px;
    background-color: #f3f3f3;
    border-radius: 45px;
    padding: 50px;
    border: 1px solid #191A23;
    border-bottom: 5px solid #191A23;
}
.section3__h3 {
    font-size: 30px;
    /* background-color: #b9ff66;
    width: 207px; */
    font-weight: 500;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.divh3-1 {
    background-color: #b9ff66;
    border-radius: 7px;
    padding: 0 5px;
}
.divh3-2 {
    background-color: #b9ff66;
    border-radius: 7px;
    padding: 0 5px;
}
.section3__image {
    width: 210px;
    height: 166px;
}
.section3__card-image {
    width: 41px;
    height: 41px;
}
.section3__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section3__a {
    display: flex;
    align-items: center;
    gap: 15px;
}
.section3__line1 {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}
.section3__card2 {
    background-color: #b9ff66;
}
.section3__h3-2{
    background-color: white;
    border-radius: 7px;
    padding: 0 5px;
}
.line2__card {
    background-color: #191A23;
}
.line2__h3 {
    background-color: white;
    border-radius: 7px;
    padding: 0 5px;
}
.white_label {
    color: white;
}
.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.section4__prindiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    height: 347px;
    background-color: #f3f3f3;
    border-radius: 45px;
    padding: 0 60px;
    margin-bottom: 140px;
}
.intdiv2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 494px;
    height: 394px;
}
.intdiv2__image {
    width: 359px;
    height: 394px;
}
.intdiv1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    /* gap: 26px; */
    width: 500px;
    height: 227px;
    /* padding: 50px 0; */

}
.section4__h3 {
    font-size: 30px;
    font-weight: 550;
}
.section4__p {
    font-size: 20px;
}
.section3-header__h2_1 {
    font-size: 40px;
    font-weight: 500;
    background-color: #b9ff66;
    border: 1px solid #b9ff66;
    border-radius: 7px;
    padding: 2px 5px;
}
.space__section5 {
    margin-bottom: 80px;
}
.section6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 186px;
    background-color: #191A23;
    border-radius: 45px;
    padding: 70px 60px;
    margin-bottom: 140px;
}
.section6__divint {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    width: 350px;
    height: 163px;
    border-right: 1px solid #ffffff;
}
.section6__divint1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    width: 286px;
    height: 163px;
}
.section6__p {
    margin: 0;
    width: 286px;
    color: #ffffff;
    font-size: 18px;
}
.section6__image {
    width: 140px;
    height: 28px;
}
.divP6 {
    display: flex;
    justify-content: start;
    align-items: center;
}
.section7 {
    height: 1224px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 140px;
}
.section7__div1 {
    padding: 41px 60px;
    background-color: #b9ff66;
    border-radius: 45px;
    border-bottom: 5px solid #191A23;
}
.section7__div2 {
    padding: 41px 60px;
    background-color: #f3f3f3;
    border-radius: 45px;
    border-bottom: 5px solid #191A23;
}
.image__section7 {
    width: 1117px;
    height: 77px;
}
.imagen__section7 {
    width: 1117px;
    height: 197px;
}
.section8 {
    height: 725px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
}
.div__section8 {
    width: 317px;
    height: 251px;
    border: 1px solid #191A23;
    border-radius: 45px;
    border-bottom: 5px solid #191A23;
    padding: 40px 35px;
}
.image__section8 {
    width: 317px;
    height: 228px;
}
.image__section8-1 {
    width: 317px;
    height: 251px;
}
.image__section8-2 {
    width: 317px;
    height: 274px;
}
.section__button {
    display: flex;
    justify-content: end;
    margin-bottom: 70px;
}
.label__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    width: 269px;
    height: 68px;
    background-color: #191A23;
    border-radius: 14px;
}
.label__button:hover {
    opacity: .8;
    cursor: pointer;
}
.section9 {
    height: 625px;
    margin-bottom: 140px;
}
.image__section9 {
    width: 1240px;
    height: 625px;
}
.section10 {
    display: flex;
    justify-content: space-between;
    height: 613px;
    padding: 60px 0 80px 100px;
    background-color: #f3f3f3;
    border-radius: 45px;
    margin-bottom: 140px;
}
.div1_section10 {
    width: 556px;
    height: 663px;
}
.image1__section10 {
    width: 556px;
    height: 603px;
}
.div2_section10 {
    display: flex;
    justify-content: end;
}
.image__section10 {
    width: 346px;
    height: 648px;
    background-color: transparent;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 409px;
    padding: 55px 60px 50px 60px;
    background-color: #191A23;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
}
.div__footer {
    display: flex;
    flex-direction: column;
    gap: 66px;
}
.divint1__footer {
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.nav__footer {
    display: flex;
    gap: 40px;
}
.a_footer {
    color: #ffffff;
    font-size: 18px;
}
.image1__footer {
    width: 180px;
    height: 29px;
}
.image2__footer{
    width: 130px;
    height: 30px;
}
.divint2__footer {
    display: flex;
    justify-content: space-between;
}
.divint2__int1 {
    width: 332px;
    height: 185px;
}
.divint__h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 26px;
    background-color: #b9ff66;
    border-radius: 5px;
    font-size: 20px;
    font-style: medium;
}
.divint__p {
    height: 132px;
}
.p_footer {
    font-size: 17px;
    color: #ffffff;
}
.divint2__int2 {
    display: flex;
    gap: 20px;
    width: 554px;
    height: 68px;
    padding: 58px 40px;
    background-color: #292A32;
    border-radius: 14px;
}
.input__footer {
    width: 215px;
    height: 23px;
    border-radius: 14px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 18px;
    padding: 22px 35px
}
.input__footer::placeholder {
    color: #ffffff;
}
.button__footer {
    width: 249px;
    height: 68px;
    font-size: 20px;
    background-color: #b9ff66;
    border-radius: 14px;
    border: none;
}
.button__footer:hover {
    opacity: 0.8;
}
.divint3__footer {
    height: 78px;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 40px;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    font-size: 18px;
}